<%=stylesheet_link_tag "display"%>
<div id="buy1" style="margin-left: <%=@allcss.margin_left%>px;margin-top:<%=@allcss.margin_top%>px"><center><span>求购信息</span></center><br/><% unless @buy.nil? %>
      <% @buy.each do |p| %>
        <%=p.buyname%><br/>
      <%end%>
        <% if @allcss.draggable=="yes"%>
        <%=javascript_include_tag :defaults%>
            <%=draggable_element("buy1")%>
        <%end%>
        <%end%>
</div>