<%=stylesheet_link_tag "display"%>
<div id="job1" style="margin-left: <%=@allcss.margin_left%>px;margin-top:<%=@allcss.margin_top%>px"><center><span>招聘信息</span></center><br/><% unless @job.nil? %>
      <% @job.each do |p| %>
        <% if p.status=="pass" %>
        <%=p.jobtitle%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=p.jobduty%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=p.amount%>
        <%end%><br/>
      <%end%>
        <% if @allcss.draggable=="yes"%>
        <%=javascript_include_tag :defaults%>
            <%=draggable_element("job1")%>
        <%end%>
        <%end%>
      </div>